<div class="container">
  <div class="row">
    <div class="col-3">
      <app-sidebar></app-sidebar> <!-- Composant de la barre latérale -->
    </div>
    <div class="col-9">
      <div class="main-content">
        <div class="wrapper" style="margin-top: 20px;">
          <div class="row">
            <div class="col-12">
              <h3 style="color:#00008B;">Ajouter un nouveau profil</h3>
            </div>
          </div>
          <div class="row">
            <div class="col-12">
              <div class="card">
                <div class="card-body">
                  <form *ngIf="!submitted">
                    <div class="form-group mb-3">
                      <label for="name">Nom :</label>
                      <input type="text" [(ngModel)]="profile.name" name="name" class="form-control" required>
                    </div>
                    <div class="form-group mb-3">
                      <label for="description">Description :</label>
                      <textarea  class="form-control" [(ngModel)]="profile.description" name="description"></textarea>
                    </div>
                    <div class="form-group mb-3">
                      <label for="sector">Secteur :</label>
                      <input type="text"  [(ngModel)]="profile.sector" name="sector" class="form-control" required />
                    </div>
                    <div class="form-group mb-3">
                      <label for="website">Site web :</label>
                      <input type="text" [(ngModel)]="profile.website" name="website" class="form-control" required />
                    </div>
                    <div class="form-group">
                      <button type="submit" (click)="newProfile()" class="btn btn-primary" style="margin-right: 10px;">Sauvegarder</button>
                      <a routerLink="/profiles" class="btn btn-secondary">Annuler</a>
                    </div>
                  </form>
                  
            </div>
            </div>
           </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
