<div class="container">
  <div class="row">
    <div class="col-3">
      <app-sidebar></app-sidebar> <!-- Composant de la barre latérale -->
    </div>
    <div class="col-9">
      <div class="main-content">
        <div class="wrapper" style="margin-top: 20px;">
          <div class="row">
            <div class="col-12">
              <h3 style="color:#008B8B;">Ajouter un nouveau profil</h3>
            </div>
          </div>
          <div class="row">
            <div class="col-12">
              <div class="card">
                <div class="card-body">
                  <form [formGroup]="profileForm" (submit)="onSubmit()">
                    <div class="form-group mb-3">
                      <label for="name">Nom :</label>
                      <input type="text" formControlName="name" class="form-control">
                      <div *ngIf="profileForm?.get('name')?.hasError('required') && profileForm?.get('name')?.touched" class="text-danger">Le nom est requis.</div>
                    </div>
                    <div class="form-group mb-3">
                      <label for="description">Description :</label>
                      <textarea  class="form-control" formControlName="description" name="description"></textarea>
                    </div>
                    <div class="form-group mb-3">
                      <label for="sector">Secteur :</label>
                      <input type="text" formControlName="sector" name="sector" class="form-control" required />
                      <div *ngIf="profileForm?.get('sector')?.hasError('required') && profileForm?.get('sector')?.touched" class="text-danger">Le secteur est requis.</div>
                    </div>
                    <div class="form-group mb-3">
                      <label>Site web :</label>
                      <input type="text" formControlName="site" name="site" class="form-control" required />
                      <div *ngIf="profileForm?.get('site')?.hasError('required') && profileForm?.get('site')?.touched" class="text-danger">Le site est requis.</div>
                    </div>
                    <div class="form-group">
                      <button type="submit" class="btn btn-primary" style="margin-right: 10px;">Sauvegarder</button>
                      <a routerLink="/profiles" class="btn btn-secondary">Annuler</a>
                    </div>
                  </form>
                  
            </div>
            </div>
           </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
