<div class="row">
    <div class="col-12">
    <h2>Inscription</h2>
    <!-- Affichez ici les détails de l'abonnement sélectionné -->
    <p>Abonnement sélectionné : {{ selectedSubscription.name }}</p>
  
    <!-- Formulaire d'inscription -->
    <form >
      <!-- Champs du formulaire (nom d'utilisateur, mot de passe, e-mail, etc.) -->
      <!-- Utilisez [(ngModel)] pour lier les valeurs à des propriétés du composant -->
  
      <button type="submit" class="btn btn-primary">S'inscrire</button>
    </form>
  </div>
</div>