<div class="container">
  <div class="row">
    <div class="col-3">
      <app-sidebar></app-sidebar> <!-- Composant de la barre latérale -->
    </div>
    <div class="col-9">
      <div class="main-content">
        <div class="wrapper" style="margin-top: 20px;">
          <div class="row">
            <div class="col-12">
              <h3 style="color:#00008B;">Liste des profils</h3>
              <a routerLink="/add-profile" class="btn btn-primary" style="margin-bottom: 10px;">Ajouter un nouvel profil</a>
            </div>
          </div>
          <div class="row">
            <div class="col-4" *ngFor="let profile of profiles">
              <div class="card mb-4">
                <div class="card-body">
                  <h5 class="card-title">{{ profile.name }}</h5>
                  <p class="card-text">{{ profile.description }}</p>
                  <p class="card-text">{{ profile.sector }}</p>
                  <a class="btn btn-primary" [href]="profile.website">Visiter le Site Web</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
