
  <div class="row">
    <div class="col-12">
      <div class="main-content">
        <div class="wrapper" style="margin-top: 20px;">
          <div class="row">
            <div class="col-12">
              <div class="d-flex justify-content-between align-items-center">
                <h3 style="color:#008B8B;">Liste des profiles</h3>
              </div>
              <hr>
            </div>
          </div>
          <div class="row">
            <div class="col-4" *ngFor="let profile of profiles">
              <div class="card mb-4">
                <div class="card-body">
                  <h5 class="card-title">{{ profile.name }}</h5>
                  <p class="card-text">{{ profile.description }}</p>
                  <p class="card-text">{{ profile.sector }}</p>
                  <a class="btn btn-primary" [href]="profile.website">Visiter le site web</a>
                
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

