<!-- subscription.component.html -->

<div class="container">
    <div class="row">
      <div class="col-12">
        <h2>Propositions d'abonnement</h2>
        <div *ngFor="let subscription of subscriptions" class="card">
          <div class="card-body">
            <h5 class="card-title">{{ subscription.name }}</h5>
            <p class="card-text">{{ subscription.description }}</p>
            <p class="card-text">Prix : {{ subscription.price | currency:'EUR' }}</p>
            <a class="btn btn-primary"
       [routerLink]="'/inscription'"
       [queryParams]="{ subscriptionId: subscription.id }">Souscrire</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  